.box-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar {
  background-color: rgb(32, 38, 40);
  width: .5rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(82, 119, 176);
  border-radius: 1rem;
}